$primary-clr: #165CF3;
$white-100: #FFFFFF;
$black-100: #292929;
$gray: #5A5A5A;
$gray-light:#F7F7F7;
$bright-gray: #EBEBEB;
$yellow: #F3EA16;
$transparent: transparent;
$box-shadow:0px 0px 2px 1px rgba(0, 18, 51, 0.2);